.banner{
    width: 100%;
    background-image: url("../../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.card>img{
    height: 250px;
}

.headingStyle{
    color:#212B35;
}    
.btnDesign{
    background-color: #212B35;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
}
.btnDesign:hover{
    background-color: #141b21; 
}
.serviceList ul{
        list-style-image: url('../../assets/checked.png'); 
        color:#EFC40B;
}


